{% extends 'base.html' %}
{% load form_loop %}
{% block head %}
<style>
    #map {
        height: 300px;
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col l10 m10 s10 offset-m1 offset-l1 offset-s1">
            <table class="striped orange centered lighten-3">
                <thead class="orange">
                    <tr>
                        <th>Cluster ID</th>
                        <th>Count</th>
                    </tr>
                </thead>

                <tbody>
                    {% for key, value in sites_count.items %}
                    <tr>
                        <td><a href="{% url 'health:view_expected_patients_ward' id=key %}">

                            
                                {{key}}
                                
                        </a></td>
                        <td>{{value|form_loop:2}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <a href="#mapelement" class="btn orange darken-3 modal-trigger" onclick="mapify()">
                                <span>Map</span>
                                <i class="material-icons right">map</i>
                            </a>
                        </td>
                        <td>
                            <a href="#graphelement" class="btn orange darken-3 modal-trigger">
                                <span>Graph</span>
                                <i class="material-icons right">graphic_eq</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="modal" id="mapelement">
        <div class="modal-content">
            <div id="map"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close btn orange">Close</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal" id="graphelement">
        <div class="modal-content">
            {% include 'mc/_graphcontent.html' %}
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close btn orange">Close</a>
        </div>
    </div>
</div>

<script>
    var locations = []
    function addLoc(lat, lng, count) {
        locations.push([lat, lng, count]);
    }

    function mapify() {
        console.log(locations)
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(30.9003263,75.7866326),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

        var marker;
        for (i = 0; i < locations.length; i++) {
            if (locations[i][2] <= 200 && locations[i][2] > 0){
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                    icon: {
                        url: "https://maps.google.com/mapfiles/ms/icons/green-dot.png"
                    }
                })
            } else if (locations[i][2] > 200 && locations[i][2] <= 400 && locations[i][2] > 0) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                    icon: {
                        url: "https://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                    }
                })
            } else if (locations[i][2] > 400 && locations[i][2] <= 600 && locations[i][2] > 0) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                    icon: {
                        url: "https://maps.google.com/mapfiles/ms/icons/yellow-dot.png"
                    }
                })
            } else if (locations[i][2] > 600 && locations[i][2] <= 800 && locations[i][2] > 0) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/pink-dot.png"
                    }
                })
            } else if (locations[i][2] > 0) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                    map: map,
                })
            }

        }
    }

</script>

<script>
    {%for key, value in sites_count.items %}
    addLoc({{value|form_loop:0}}, {{value|form_loop:1}}, {{value|form_loop:2}})
    {% endfor %}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe7cMg1l1HFoBUttsvlu4mXZtDIZV89w&callback=mapify">
    </script>
{% endblock %}