{% extends 'base.html' %}
{% load form_loop %}
{% block head %}
<style>
    #map {
        height: 300px;
        width: 100%;
    }
</style>
{% endblock %}
{% block content %}

{% for key, value in sites_count.items %}
<a href="{% url 'mc:view_breedingsites_ward' id=key %}">{{ key }}</a> - {{value|form_loop:2}} - Lat
{{value|form_loop:0}} - Long {{value|form_loop:1}}
{% endfor %}

<button>
    <a href="#mapelement" class="btn orange darken-3 modal-trigger" onclick="mapify()">
        <span>Mapify</span>
        <i class="material-icons right">map</i>
    </a>
</button>
<div class="container">
    <div class="modal" id="mapelement">
        <div class="modal-content">
            <div id="map"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close btn orange">Close</a>
        </div>
    </div>
</div>

<script>
    var locations = []
    function addLoc(lat, lng) {
        locations.push([lat, lng]);
    }

    function mapify() {
        console.log(locations)
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 10,
                center: new google.maps.LatLng(30.3466365, 76.3390132),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

        var marker;
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                map: map
            })
        }
    }

</script>

<script>
    {%for key, value in sites_count.items %}
    addLoc({{value|form_loop:0}}, {{value|form_loop:1}})
    {% endfor %}
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqe7cMg1l1HFoBUttsvlu4mXZtDIZV89w&callback=mapify">
    </script>
{% endblock %}