{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col s10 m10 l10 offset-l1 offset-m1 offset-s1">
            <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        {{form.name}}
                        <label for="name">Your Name</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">phone</i>
                        {{form.phone}}
                        <label for="phone">Your Phone</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">bookmark</i>
                        {{form.address}}
                        <label for="address">Your Address</label>
                    </div>
                    
                    <div class="input-field">
                        <i class="material-icons prefix">bookmark</i>
                        {{form.locality}}
                        <label for="locality">Your Locality</label>
                    </div>
                    <div class="input-field">
                        <p>Answers required:</p>
                        <p>
                            <label>
                                {{form.a1}}
                                <span>Abrupt onset of high fever persistent for more than two days</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a2}}
                                <span>Severe frontal headache</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a3}}
                                <span>Pain behind the eyes which worsens with eye movement</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a4}}
                                <span>Muscle and joint pains</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a5}}
                                <span>Loss of sense of taste and appetite</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a6}}
                                <span>Reddish spots over chest, lower and upper limbs</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a7}}
                                <span>Nausea and vomiting</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                {{form.a8}}
                                <span>Lethargy</span>
                            </label>
                        </p>
                    </div>
                    <div class="input-field center">
                        <button class="btn" name="urban">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

</script>

{% endblock %}