{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5>Breeding sites of Aedes Mosquito.</h5>
    Aedes breeds in artificial collection of clean
    stagnant water within and around houses.
    Aedes mosquitoes are container breeder
    viz., cement tanks, overhead tanks,
    underground tanks, tyres, desert coolers,
    pitchers, discarded containers, jack ma
    terials, potholes, rooftop, window parapet,
    ornamental fountain, lucky bamboo pot,
    money plant bottle etc, in which water
    stagnates for more than a week.

    <h5>Does the Aedes breed in dirty polluted
        water & drains?</h5>
    No, they breed only in clean water.

    <h5>How long eggs of Aedes takes to become
        adult Mosquito?</h5>
    Dengue vector takes one week to become
    adult from egg

    <h5>What is the average life span of an adult
        Aedes?</h5>
    The life span for adult mosquitoes is
    around three weeks

    <h5>Identification of larvae of Aedes.</h5>
    Larvae of Aedes are found in clean water
    collections. They are highly motile and they
    come to surface of water for oxygen.

    <h5>Biting pattern of Aedes mosquito.</h5>
    Aedes bites during day time.

    <h5>When does Dengue vector bite?</h5>
    Dengue vector mosquitoes bite during
    day time usually in morning (8-10 am) &
    afternoon (3-5 pm) hours.

    <h5>Resting sites of Aedes mosquito.</h5>
    Cool shady corners of the rooms like
    under the furniture (table, chair etc), behind
    curtains, paintings, hangings & almirahs
</div>
{% endblock content %}