{% extends 'base.html' %}
{% block content %}
<div class="container">

<br><br>
        <strong><h3>Basic Questions</h3></strong>
        <br><br>

            <strong style = "font-size: 20px;">Q1) What are the breeding sites of Aedes Mosquito? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans1.</strong> Aedes breeds in artificial collection of clean stagnant water within and around houses. Aedes mosquitoes are container breeder viz., cement tanks, overhead tanks,    underground tanks, tyres, desert coolers,    pitchers, discarded containers, jack ma    terials, potholes, rooftop, window parapet,    ornamental fountain, lucky bamboo pot,    money plant bottle etc, in which water    stagnates for more than a week. </span><br>
            <br><br>

            <strong style = "font-size: 20px;">Q2) Does the Aedes breed in dirty polluted water & drains? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans2.</strong>  No, they breed only in clean water.</span><br>
            <br><br>

            <strong style = "font-size: 20px;">Q3) How long eggs of Aedes takes to become adult Mosquito?<br></strong>
            <span style= "font-size: 18px;"><strong>Ans3.</strong>  Dengue vector takes one week to become.</span><br>
            <br><br>

            <strong style = "font-size: 20px;">Q4) What is the average life span of an adult Aedes? </strong><br>
            <span style= "font-size: 18px;"><strong>Ans4.</strong> The life span for adult mosquitoes is around three weeks</span><br>
            <br><br>

            <strong style = "font-size: 20px;">Q5) What is the identification of larvae of Aedes? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans5.</strong>  Larvae of Aedes are found in clean water collections. They are highly motile and they come to surface of water for oxygen.</span><br>
            <br><br>
            <strong style = "font-size: 20px;">Q6) What is the Biting pattern of Aedes mosquitos? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans6.</strong>   Aedes bites during day time.</span><br>
            <br><br>

            <strong style = "font-size: 20px;">Q7) When does Dengue vector bite? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans7.</strong>  Dengue vector mosquitoes bite during day time usually in morning (8-10 am) & afternoon (3-5 pm) hours.</span><br>
            <br><br>
            <strong style = "font-size: 20px;">Q8) What are the resting sites of Aedes mosquito.? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans7.</strong>  Cool shady corners of the rooms like under the furniture (table, chair etc), behind curtains, paintings, hangings & almirahs</span><br>
            <br><br>
</div>
{% endblock content %}