<!DOCTYPE html>
{% load pwa %}
{% load static %}
<html lang="en">

<head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
        integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css'  %}">

    <title>Ludhiana Dengue Monitoring App</title>
    {% block head %}
    {% endblock %}

    <style>
        nav .badge {
            position: relative;
            top: 20px;
            right: 20px;
        }

        html {
            overflow-x: hidden;
        }
    </style>
</head>

<body class="orange lighten-5">

    <nav class="nav-wraper orange darken-2">

            <a href="{% url 'home' %}" class="brand-logo hide-on-small" style="padding-left:10px;">PDMA</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">

                {% if user.pk in cluster_all %}

                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                {% endif %}

                {% if user.pk in health_all %}
                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                <li><a href="{% url 'health:view_expected_patients_cluster' %}">Expected Patients</a></li>

                {% endif %}

                {% if user.pk in dc_all %}
                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                <li><a href="{% url 'health:view_expected_patients_cluster' %}">Expected Patients</a></li>

                {% endif %}

              <a class='dropdown-trigger btn orange darken-2 left' href='#' data-target='dropdown1' style = "margin-top: 12px;">Citizens</a>
              <ul id='dropdown1' class='dropdown-content'>
                  <li><a href="{% url 'citizen:expected_patient_details' %}" class="cyan-text">Checkup</a></li>
                  <li><a href="{% url 'citizen:expected_breedingsites_details' %}" class="cyan-text">Report Breeding</a></li>
              </ul>
                <li><a href='{% url 'info' %}'>Know More</a></li>
                <li><a href='{% url 'map' %}'>Nearby Testing centers</a></li>

                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% elif not user.is_authenticated %}
                <li>
                    <a href="{% url 'account:login' %}">Login</a>
                </li>
                {% endif %}
            </ul>

            <ul class="sidenav orange lighten-3" id="mobile-links">
                <br><br>
                    {% if user.pk in cluster_all %}

                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                {% endif %}

                {% if user.pk in health_all %}
                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                <li><a href="{% url 'health:view_expected_patients_cluster' %}">Expected Patients</a></li>

                {% endif %}

                {% if user.pk in dc_all %}
                <li><a href="{% url 'mc:view_expected_breedingsite_cluster' %}">Reported Breeding</a></li>
                <li><a href="{% url 'health:view_expected_patients_cluster' %}">Expected Patients</a></li>

                {% endif %}

                <li><a class='dropdown-trigger' href='#' data-target='dropdown-citizens'>Citizens</a></li>
                <li><a href='{% url 'info' %}'>Know More</a></li>
                <li><a href='{% url 'map' %}'>Nearby Testing centers</a></li>

                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% elif not user.is_authenticated %}
                <li>
                    <a href="{% url 'account:login' %}">Login</a>
                </li>
                {% endif %}
                </ul>


    </nav>

    <ul id='dropdown-citizens' class='dropdown-content orange lighten-1'>
        <li><a href="{% url 'citizen:expected_patient_details' %}" class="white-text">Checkup</a></li>
        <li><a href="{% url 'citizen:expected_breedingsites_details' %}" class="white-text">Report Breeding</a></li>
    </ul>


    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/materialize.min.js'  %}"></script>

    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.datepicker').datepicker({
                disableWeekends: false,
                yearRange: 1
            });
            $('.modal').modal();
            $('.slider').slider();
            $('.dropdown-trigger').dropdown()
            $('.tabs').tabs();
            $('select').formSelect();
            $('.materialboxed').materialbox();
        });
    </script>
</body>

</html>