{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
    <div class="col s12 l6 m6 offset-l2 offset-s2 offset-m2">
        <ul class="tabs orange">
            <li class="tab col s12 l6 m6">
                <a href="#dos" class="indigo-text text-darken-4">Do's</a>
            </li>
            <li class="tab col s12 l6 m6">
                <a href="#donts" class="indigo-text text-darken-4 orange">Don'ts</a>
            </li>
        </ul>

        <div id="dos" class="col s12">
            <p class="flow-text indigo-text text-darken-4">Do's</p>
            <ol>
                <li>
                    <p>Keep body temperature below 39&deg; C. Give the patient paracetamol(not more than 4 time in 24
                        hours)</p>
                </li>
                <li>
                    <p>Give large amounts of fluids (water,
                        soup, milk, juice) along with the patient's
                        normal diet.
                    </p>
                </li>
                <li>
                    <p>The patient should take complete rest.
                    </p>
                </li>
                <li>
                    <p>Cold water sponging in case of high
                        grade fever.
                    </p>
                </li>
                <li>
                    <p>Immediately consult a doctor if any of
                        the following manifestations appear:
                    </p>
                    <ul>
                        <li>
                            <p>Red spots or points on the skin</p>
                        </li>
                        <li>
                            <p>Bleeding from the nose or gums
                                frequent vomitin:</p>
                        </li>
                        <li>
                            <p>Vomiting with blood</p>
                        </li>
                        <li>
                            <p>Black stools</p>
                        </li>
                        <li>
                            <p>Sleepiness</p>
                        </li>
                        <li>
                            <p>Constant crying</p>
                        </li>
                        <li>
                            <p>Abdominal pain</p>
                        </li>
                        <li>
                            <p>Excessive thirst(dry mouth)</p>
                        </li>
                        <li>
                            <p>Pale, cold and clammy skin</p>
                        </li>
                        <li>
                            <p>Difficulty in breathing</p>
                        </li>
                    </ul>
                </li>

            </ol>
        </div>
        <div id="donts" class="col s12">
            <p class="flow-text indigo-text text-darken-4">Don'ts</p>
            <ol>
                <li>
                    <p>Do not wait in case the above symptoms
                        appear.</p>
                </li>
                <li>
                    <p>Immediately consult a doctor, it is crucial
                        to quickly get treatment in case of these
                        complications.</p>
                </li>
                <li>
                    <p>Do not take Aspirin or Brufen or
                        Ibubrufen</p>
                </li>
            </ol>
        </div>
    </div>
</div>

{% endblock content %}