{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
    <div class="col s12 l6 m6 offset-l2 offset-s2 offset-m2">
        <ul class="tabs orange">
            <li class="tab col s12 l6 m6">
                <a href="#dos" class="indigo-text text-darken-4" style = "font-size: 22px;">Do's</a>
            </li>
            <li class="tab col s12 l6 m6">
                <a href="#donts" class="indigo-text text-darken-4 orange"style = "font-size: 22px;">Don'ts</a>
            </li>
        </ul>

        <div id="dos" class="col s12">
            <p class="flow-text indigo-text text-darken-4">Do's</p>

        <p style = "font-size: 20px;">
             ● Keep body temperature below 39&deg; C. Give the patient paracetamol(not more than 4 time in 24 hours) <br>
                ● Give large amounts of fluids (water,  soup, milk, juice) along with the patient's normal diet<br>
                ● The patient should take complete rest. <br>
                ● Cold water sponging in case of high <br>
                ● Immediately consult a doctor if any of the following manifestations appear <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>a.</strong>&nbsp;&nbsp; Red spots or points on the skin <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>b.</strong>&nbsp;&nbsp; Bleeding from the nose or gums frequent vomiting <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>c.</strong>&nbsp;&nbsp; Vomiting with blood <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>d.</strong>&nbsp;&nbsp; Sleepiness <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>e.</strong>&nbsp;&nbsp; Constant crying <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>f.</strong>&nbsp;&nbsp; Abdominal pain <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>g.</strong>&nbsp;&nbsp; Excessive thirst(dry mouth) <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>h.</strong>&nbsp;&nbsp; Pale, cold and clammy skin <br>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>i.</strong>&nbsp;&nbsp; Difficulty in breathing <br>
                     </p>
        </div>
        <div id="donts" class="col s12">
            <p class="flow-text indigo-text text-darken-4" style = "font-size:24px;">Don'ts</p>
            <p style = "font-size: 20px;">
             ● Do not wait in case the above symptoms appear <br>
                ● Immediately consult a doctor, it is crucial to quickly get treatment in case of these complications<br>
                ● Do not take Aspirin, Brufen or Ibubrufen<br>
               </p>
        </div>
    </div>
</div>

{% endblock content %}