{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Weekly Dry Day</h3>
    The adult aedes mosquito develops in
one week (average 7-10 days) from egg<br>

2. The eggs of aedes can stick to the walls
of the water container and survive for more
than one year<br>

3. If the containers are dried once a week
then the development of adult mosquito
from the egg can be prevented<br>

4. The Department of Health and Family
Welfare has declared EVERY FRIDAY A DRY DAY

Which means that each household and
office should ensure that the cooler, water
containers, flower vases, tyres, flower pots,
water tanks and all those places where
clean water is stored should be cleaned
once a week. Thus breeding of aedes can
be prevented.<br>

a. In the water containers, which can't
be emptied, water can be sprayed with
larvicides like Temephos or Bti or oil can be
sprinkled on the water.<br>
b. Oil when sprinkled on water forms a
thin layer and cuts off oxygen supply to
the larvae and pupae thus killing them and
preventing the development of aedes.<br>
</div>
{% endblock content %}