{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>FAQs</h3>
    <p>What is Dengue?<br>
        Dengue is a viral fever.<br><br>

        How is dengue transmitted?<br>
        Dengue is transmitted after the bite of an
        infected mosquito<br><br>

        What is the mosquito responsible for
        dengue?<br>
        Aedes aegypti is the mosquito responsible
        for transmission of dengue to human
        beings<br><br>

        How does Aedes mosquito look like?<br>
        Aedes has white and black stripes on legs,
        body and wings and is known as Tiger
        Mosquito</p>
</div>
{% endblock content %}