{% extends 'base.html' %}
{% block content %}
<div class="container">
    <strong><h3>FAQs</h3></strong>
            <br>

            <strong style = "font-size: 20px;">Q1)What is Dengue? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans1.</strong>  Dengue is a viral fever. </span><br>
            <br><br>
            <strong style = "font-size: 20px;">Q2) How is dengue transmitted? <br></strong>
            <span style= "font-size: 18px;"><strong>Ans2.</strong>  Dengue is transmitted after the bite of an infected mosquito</span><br>
            <br><br>


            <strong style = "font-size: 20px;">Q3) What is the mosquito responsible for
        dengue?<br></strong>
            <span style= "font-size: 18px;"><strong>Ans3.</strong>   Aedes aegypti is the mosquito responsible
        for transmission of dengue to human
        beings</span><br>

            <br><br>


            <strong style = "font-size: 20px;">Q4) How does Aedes mosquito look like?<br></strong>
            <span style= "font-size: 18px;"><strong>Ans4.</strong> Aedes has white and black stripes on legs,
        body and wings and is known as Tiger
        Mosquito</span><br>


</div>
{% endblock content %}