{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Message</h3>
  Whether kerosene or other oils can be
used for mosquito control, if yes how and
it's mechanism?<br>

These oils have ability to spread and thus
make a thin film on water surface which
creates a barrier for respiration and larvae
are killed due to suffocation
used engine oils /mobile oil are cheap and best option for this.<br>

What are important messages for Dengue
prevention?
<br>
o Covering all water holding containers &
tanks with tight lids<br>
o Emptying, cleaning by scrubbing and
drying water coolers at least once a week
before refilling.<br>
o Disposing & destroying all unused
containers, junk materials, tyres, coconuts
shells etc<br>
o Wearing full sleeved clothing, using
mosquito nets (day time) & repellants.<br>

</div>
{% endblock content %}