{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Message</h3>
 <br>



<p style = "font-size: 20px;">
            ●   Whether kerosene or other oils can be
                used for mosquito control, if yes how and
                it's mechanism?<br>
            ● These oils have ability to spread and thus
                make a thin film on water surface which
                creates a barrier for respiration and larvae
                are killed due to suffocation
                used engine oils /mobile oil are cheap and best option for this.<br>
    <br>
           <strong style = "font-size: 18px;">What are important messages for Dengue prevention? </strong><br>

                &nbsp;&nbsp;&nbsp;&nbsp;<strong style = "font-size: 18px; font-weight:900;">a.</strong> Covering all water holding containers & tanks with tight lids<br>

                &nbsp;&nbsp;&nbsp;&nbsp;<strong style = "font-size: 18px; font-weight:900;">b.</strong> Emptying, cleaning by scrubbing and drying water coolers at least once a week before refilling.<br>

                &nbsp;&nbsp;&nbsp;&nbsp;<strong style = "font-size: 18px; font-weight:900;">b.</strong> Disposing & destroying all unused containers, junk materials, tyres, coconuts shells etc.<br>

                &nbsp;&nbsp;&nbsp;&nbsp;<strong style = "font-size: 18px; font-weight:900;">b.</strong> Wearing full sleeved clothing, using mosquito nets (day time) & repellants.<br>
    </p>

</div>
{% endblock content %}