{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Myths</h3>
    <br>



     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">1.</strong> Dengue mosquitoes breed in drains,
ponds, puddles <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong> Aedes mosquito responsible for
transmission of dengue breeds only in
clean water.<br><br><br>


     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">2.</strong> All cases of dengue should be
hospitalized <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>  Majority of the cases of dengue can be
treated at home. Hospitalization is required
only if a case of dengue has complications
like vomiting, bleeding, shock or organ
failure<br>
<br><br>
     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">3.</strong> Decrease in platelets is due to dengue
only <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>  Platelets decrease in most of the viral
fever, typhoid, malaria and many other
causes. Dengue is just one of the reasons
of low platelets<br><br><br>


     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">4.</strong> All cases of dengue need blood and
platelets <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>  Blood or platelets are required in a case
of dengue if the patient has bleeding or
platelets have decreased to less than
10000/cmm<br><br><br>




     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">5.</strong> All cases of dengue will die <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>   Case fatality rate of dengue is less than
1% which means 1 out of 100 cases can
die. The death is mostly seen in cases
which already have some other disease too<br>

<br><br>

     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">6.</strong> Fogging is the only way to control dengue <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>   Fogging is the spray of insecticides in
form of fog. Fogging can kill mosquitoes
which are outside.<br>
   <span style= "font-size: 18px;"><strong style = "font-weight: 900;">b.</strong>    Fogging is only useful when the Aedes
have increased a lot.<br>
   <span style= "font-size: 18px;"><strong style = "font-weight: 900;">c.</strong>   Normally Aedes are found inside the
houses.<br>
   <span style= "font-size: 18px;"><strong style = "font-weight: 900;">d.</strong>   FIdeally, the doors and windows of the
houses should be opened to allow the fog
to enter the houses and vehicle should be
driving at a very slow speed for fog to
disperse properly<br>
   <span style= "font-size: 18px;"><strong style = "font-weight: 900;">e.</strong>  Household repellents can be effective in
prevention of bite by Aedes<br>
<br><br>

  <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">7.</strong> Prevention of dengue is responsibility of
Health Department <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>  Prevention of dengue is responsibility of
each household and office since Aedes
breeds inside or surrounding the houses in
water containers, refrigerator trays, tyres,
tanks etc<br>
  <span style= "font-size: 18px;"><strong style = "font-weight: 900;">b.</strong>   Efforts of Department of Health and
Local Govt can bear the fruit if all residents
prevent the breeding opportunities of
aedes by cleaning all breeding places once
a week<br>


<br><br>

</div>
{% endblock content %}