{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Myths</h3>
    Dengue mosquitoes breed in drains,
ponds, puddles<br>
o Aedes mosquito responsible for
transmission of dengue breeds only in
clean water.<br>

All cases of dengue should be
hospitalized<br>
o Majority of the cases of dengue can be
treated at home. Hospitalization is required
only if a case of dengue has complications
like vomiting, bleeding, shock or organ
failure<br>

Decrease in platelets is due to dengue
only<br>
o Platelets decrease in most of the viral
fever, typhoid, malaria and many other
causes. Dengue is just one of the reasons
of low platelets.<br>

All cases of dengue need blood and
platelets<br>
o Blood or platelets are required in a case
of dengue if the patient has bleeding or
platelets have decreased to less than
10000/cmm<br>

All cases of dengue will die<br>
o Case fatality rate of dengue is less than
1% which means 1 out of 100 cases can
die. The death is mostly seen in cases
which already have some other disease too<br>

Fogging is the only way to control dengue<br>
Fogging is the spray of insecticides in
form of fog. Fogging can kill mosquitoes
which are outside.<br>
o Fogging is only useful when the Aedes
have increased a lot.<br>
o Normally Aedes are found inside the
houses.<br>
o Ideally, the doors and windows of the
houses should be opened to allow the fog
to enter the houses and vehicle should be
driving at a very slow speed for fog to
disperse properly<br>
o Household repellents can be effective in
prevention of bite by Aedes<br>
Prevention of dengue is responsibility of
Health Department<br>
o Prevention of dengue is responsibility of
each household and office since Aedes
breeds inside or surrounding the houses in
water containers, refrigerator trays, tyres,
tanks etc<br>
o Efforts of Department of Health and
Local Govt can bear the fruit if all residents
prevent the breeding opportunities of
aedes by cleaning all breeding places once
a week<br>
</div>
{% endblock content %}