{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br>
    1. Prevention of breeding of Aedes<br>
    a. Cover all the water storage containers
    and water tanks<br>
    b. Clean cooler, waste water tray of
    refrigerators, flower vases, other water
    collection sites once a week to prevent
    breeding of Aedes.<br>
    c. Those places of water collection which
    can't be cleaned or emptied, must be
    sprayed with larvicides or oil for prevention
    of breeding of Aedes<br>

    2. Killing adult Aedes<br>
    a. Suitable insecticides in form of sprays
    can be used to kill adult Aedes<br>
    b. Spray should be focussed on the resting
    sites of Aedes<br>

    3.Self protection<br>
    a. Wear full sleeve clothes during day time<br>
    b. One should sleep under a mosquito net
    during the day time<br>
    c. Doors and windows should have meshes
    for prevention of entry of mosquitoes<br>
    d. Use mosquito repellents<br>
</div>
{% endblock content %}