{% extends 'base.html' %}
{% block content %}
<div class="container">

<br><br>
     <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">1.</strong> Prevention of breeding of Aedes <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong> Cover all the water storage containers
    and water tanks<br>
    <strong style = "font-weight: 900;">b.</strong> Clean cooler, waste water tray of
    refrigerators, flower vases, other water
    collection sites once a week to prevent
    breeding of Aedes.<br>
    <strong style = "font-weight: 900;">c.</strong> Those places of water collection which
    can't be cleaned or emptied, must be
    sprayed with larvicides or oil for prevention
    of breeding of Aedes<br></span><br>
            <br><br>

            <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">2.</strong> Killing adult Aedes <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong> Suitable insecticides in form of sprays
    can be used to kill adult Aedes<br>
    <strong style = "font-weight: 900;">b.</strong>Spray should be focussed on the resting
    sites of Aedes.<br>

<br><br>
            <strong style = "font-size: 20px;"><strong style = "font-weight: 900;">3.</strong>Self protection <br></strong>
            <span style= "font-size: 18px;"><strong style = "font-weight: 900;">a.</strong>  Wear full sleeve clothes during day time<br>
    <strong style = "font-weight: 900;">b.</strong>One should sleep under a mosquito net
    during the day time<br>
     <strong style = "font-weight: 900;">c.</strong>Doors and windows should have meshes
    for prevention of entry of mosquitoes<br>
     <strong style = "font-weight: 900;">d.</strong>Use mosquito repellents<br>




</div>
{% endblock content %}