{% extends 'base.html' %}
{% block content %}
<div class="container">
    <strong><h3>Signs and symptoms for dengue haemorrhagic fever/ dengue shock syndrome.</h3></strong><br>

<p style = "font-size: 18px;">
            ● Symptoms similar to dengue fever <br>
            ● Severe continuous stomach pains<br>
            ● Skin becomes pale, cold or clammy <br>
            ● Bleeding from nose, mouth & gums and skin rashesr <br>
            ● Sleepiness and restlessness<br>
            ● Patient feels thirsty and mouth becomes dry<br>
            ● Rapid weak pulse
</p>
</div>
{% endblock content %}