{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Signs and symptoms for dengue haemorrhagic fever/ dengue shock syndrome.</h3>
    Haemorrhagic Fever (DHF)/ Dengue<br>
    Shock Syndrome (DSS)<br>

    a. Symptoms similar to dengue fever<br>
    b. Severe continuous stomach pains<br>
    c. Skin becomes pale, cold or clammy<br>
    d. Bleeding from nose, mouth & gums and
    skin rashes<br>
    e. Frequent vomiting with or without blood<br>
    f. Sleepiness and restlessness<br>
    g. Patient feels thirsty and mouth becomes
    dry<br>
    h. Rapid weak pulse<br>
</div>
{% endblock content %}