{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Recommended Tests</h3>
    Tests for Dengue<br>

ELISA based tests are recommended for
confirmation of Dengue<br>

NS1 Antigen ELISA<br>

o This is the recommended test when fever
is of 5 days (i.e. first 5 days of illness) and

IgM Mac ELISA

o This is the recommended test when fever
is of more than 5 days (i.e. after 5th day of
illness)<br>

a. These tests are done free of cost in each
district at district level.<br>
b.Rapid tests for dengue are not
recommended for dengue as sensitivity of
these tests is not reliable<br>
    
</div>
{% endblock content %}