{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>Recommended Tests</h3>
    <strong style = "font-size: 18px;">Tests for Dengue</strong><br>

<br>


                  <strong>LISA based tests are recommended for confirmation of Dengue</strong> <br><br>
                        &nbsp;&nbsp;&nbsp;● NS1 Antigen ELISA<br>
                        &nbsp;&nbsp;&nbsp;This is the recommended test when fever is of 5 days (i.e. first 5 days of illness) <br>
                        &nbsp;&nbsp;&nbsp;● IgM Mac ELISA<br>
                        &nbsp;&nbsp;&nbsp;This is the recommended test when fever is of more than 5 days (i.e. after 5th day of illness) <br><br>

                        <strong>a. These tests are done free of cost in each
                            district at district level.<br>
                            b.Rapid tests for dengue are not
                            recommended for dengue as sensitivity of
                            these tests is not reliable<br>
                        </strong>

</div>
{% endblock content %}